html{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    width: 100%;  height: 100%;
    overflow:hidden;
}

*{
    box-sizing: border-box;
}


body{
    margin:0;
    padding: 0;
    width: 100%;
}

#main{
    padding:0;
    margin-left: 15px;
    display:grid;
    grid-template-columns: repeat(5,20%);
    position: fixed;
    top: 20px;
    width: 90%;
    height:100%;
    gap: 20px;
}
.col{
    padding: 0;
    background-color: white;
    height: fit-content;
    word-break: break-word;
    filter: drop-shadow(0 0 0.75rem black);

}

@media all and (max-width:600px){
    #main{
        grid-template-columns: repeat(2, 1fr) !important;
        left: 22px;
        gap: 10px !important;
        height: 50%;
    }



    .col{
        padding: 0;
        margin-right:40px;
        background-color: white;
        word-break: break-word;
    }

    .col1{
        width:100% !important;
        background-color: white;
    }

    .col3{
        grid-column: 1/span 2 !important;
    }
    
    h1{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 0.5em !important;
        padding: 10px;
        margin: 0;    }
 
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.825em;
    padding: 10px;
    margin: 0;
}

.marbling_1:hover {
    font-style: italic;
    color: purple;
    filter: blur(20px);
    transition: 1s ease-in-out;
}

a{
    text-decoration: none;
    color: black;
    transition: 1s ease-in-out;
}

.col3{
    background-color: transparent !important;
    grid-column: 3/span 2;
    
}
.image_2{
    width: 100%;
    height: auto;
}

.title:hover  {
    font-style: italic;
    color: purple;
    filter: blur(20px);
    transition: 1s ease-in-out; }


